@charset 'utf-8';
#photo{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size: 12px;
}
#photo h2{
	text-indent: 0;
	text-align: center;
}
#photo p{
	text-align: center;
	padding: 20px;
}
#photo p a{
	font-size: 14px;
	color:#333;
}