@charset 'utf-8';
#photo{
	width: auto;
	height: auto;
	border: 2px solid #ccc;
	font-size: 12px;
}
#photo h2{
	text-indent: 0;
	text-align: center;
}
#photo dl.detail{
	text-align: center;
	margin:20px;
}
#photo dl.detail dt a{
	color: #f60;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	vertical-align: top;
}
#photo dl.detail dt span{
	font-size: 14px;
	color: #666;
	font-weight: bold;
	vertical-align: top;
	padding: 10px;
}
#photo dl.detail dd{
	font-size: 14px;
	padding: 10px;
}
#photo dl.detail dd.name{
	font-weight: bold;
	color: #333;
}
#photo p.line{
	width: 95%;
	margin: 0 auto;
	clear: both;
	height: 10px;
	border-bottom: 1px dashed #333;
	/*以下没有，防止网址下移*/
	padding: 10px 0 0 0;
}
#photo dl.rephoto{
	width: 450px;
	margin: 10px auto;
	position: relative;
}
#photo dl.rephoto dt{
	text-align: center;
	padding: 10px ,0;
	font-weight: bold;
}
#photo dl.rephoto dd{
	padding: 5px 0;
}

#photo dl.rephoto dd label{
	cursor: pointer;
	display: inline-block;
	height: 20px;
	padding: 0 2px 0 0;
}
#photo dl.rephoto dd div#ubb{
	width: 410px;
	height: 26px;
	background: url(../../images/bgMenubar.gif);
	border: 1px dashed #333;
	border-bottom: 1px solid #666;
}
#photo dl.rephoto dd div#ubb img{
	display: block;
	float: left;
	padding: 5px 0 0 6px;
}
#photo dl.rephoto dd div#font{
	display: none;
	/*原来为125px*/
	width: 130px;
	height: 40px;
	background: #eee;
	border: 1px dashed #333;
	padding: 8px;
	line-height: 20px;
	position: absolute;
	/*字体大小定位点*/
	top: 85px;
	left: 20px;
}
#photo dl.rephoto dd div#font strong{
	font-weight: normal;
	background: #fff;
	border: 1px solid #ccc;
	cursor: default;
}
#photo dl.rephoto dd div#color{
	display: none;
	width: 152px;
	height: 130px;
	font-size: 12px;
	background-color: #eee;
	border: 1px dashed #333;
	padding: 4px 0 0 4px;
	position: absolute;
	/*字体颜色定位点*/
	top: 82px;
	left: 150px;
}
#photo dl.rephoto dd div#color strong{
	border: 1px solid #999;
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	margin: 4px 0 0 4px;

}
#photo dl.rephoto dd div#color em{
	display: block;
	height: 28px;
	width: 80%;
	clear: both;
}
#photo dl.rephoto dd div#color input{
	margin-top: 10px;
	margin-left: 4px;
	width: 136px;
	height: 20px;
	cursor: pointer;
	background: #fff;
}
#photo dl.rephoto dd textarea{
	width: 400px;
	border: 1px dashed #333;
	border-top: none;
	background: #fff;
	overflow-y: scroll;
	resize: none;
	padding: 5px;
}

#photo dl.rephoto dd input.text{
	width: 250px;
	height: 19px;
	border: 1px dashed #333;
	background: #fff;
}

#photo dl.rephoto dd input.yzm{
	width: 60px;
	height: 19px;
	border: 1px dashed #333;
	background: #fff;
}

#photo dl.rephoto dd input.submit{
	width: 75px;
	height: 21px;
	border: 1px dashed #333;
	background: #fff;
	/*鼠标放上后显示手型*/
	cursor: pointer;
	color: #333;
	margin-left: 30px;
}
#photo dl.rephoto dd input.submit:hover{
	background: #eee;
}
#photo dl.rephoto dd img#code{
	position: relative;
	top: 8px;
	cursor: pointer;
	margin-left: 5px;
}
#photo dl.rephoto dd#q a{
	text-decoration: none;
	color: #333;
}
#photo div.content{
	float: right;
	width: 680px;
	padding: 5px 20px 0 0;
}
#photo div.content .user{
	height: 30px;
	line-height: 30px;
	background: url(../../images/member.gif) no-repeat left center;
	border-bottom: 1px dashed #999;
	color: #666;
	padding: 0 0 0 20px;
}
#photo div.content .user span{
	float: right;
	color: black;
}
#photo div.content h3{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}
#photo div.content h3 span{
	font-size: 12px;
	font-weight: normal;
	color: #06f
}
#photo div.content h3 span a{
	text-decoration: none;
	color: #06f;
}
#photo div.content h3 span a:hover{
	color: #f60;
	text-decoration: underline;
}
#photo div.content h3 img{
	position: relative;
	top: 2px;
}
#photo div.content .detail{
	line-height: 200%;
	font-size: 14px;
}
#photo div.content .detail a{
	text-decoration: none;
	color: blue;
}
#photo div.content .detail a:hover{
	color: #f60;
	text-decoration: underline;
}
#photo div.content .detail p.autograph{
	color: #666;
	border-top: 1px dashed #666;
	margin: 5px 0;
	width: 80%;
	padding: 5px 0;
}
#photo div.content .read{
	font-size: 12px;
	color: #666;
	padding: 10px 0 0 0;
}
#photo div.content .read p{
	padding: 0 0 15px 0;
	text-align: right;
}
#photo div.re dl{
	width: 170px;
	padding: 10px 0 0 45px;
	float: left;
}
#photo div.re dl dt{
	width: 170px;
	margin: 0 0 5px 0;
}
#photo div.re dl dt img{
	margin: 0 auto;
	display: block;
}
#photo div.re dl dd{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 85px;
	float: left;
}
#photo div.re dl dd.email,#user dl dd.url{
	width: 250px;
	text-align: left;
	padding: 2px 0 0 0;
	text-indent: 5px;
}
#photo div.re dl dd a{
	text-decoration: none;
	color: #333;
}
#photo div.re dl dd.user{
	width: 170px;
	float: none;
	color: #f60;
}
#photo div.re dl dd.message{
	background: url(../../images/x1.gif) no-repeat 5px 35%;
}
#photo div.re dl dd.friend{
	background: url(../../images/x2.gif) no-repeat left 35%;
}
#photo div.re dl dd.guest{
	background: url(../../images/x3.gif) no-repeat 5px 35%;
}
#photo div.re dl dd.flower{
	background: url(../../images/x4.gif) no-repeat left 35%;
}