@charset "UFT-8";
#member{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size: 12px;
}
#member h2{
	text-indent: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#member #member_sidebar{
	width: 300px;
	height: 580px;
	margin: 15px;
	border: 1px dashed #999;
	float: left;
}
#member #member_sidebar dl{
	width: 250px;
	background: red;
	margin: 15px auto;
}
#member #member_sidebar dl dt{
	height: 40px;
	line-height: 40px;
	background: #999;
	font-weight: bold;
	text-align: center;
	color: white;
}
#member #member_sidebar dl dd{
	height: 40px;
	line-height: 40px;
	background: #ccc;
	font-weight: bold;
	text-align: center;
}
#member #member_sidebar dl dd a{
	display: block;
	color: #333;
	text-decoration: none;
}
#member #member_sidebar dl dd a:hover{
	background: #888;
}
#member #member_main{
	width: 590px;
	height: 580px;
	margin: 15px;
	border: 1px dashed #999;
	float: right;
}
#member #member_main dl{
	width: 500px;
	margin: 15px auto;
	font-size: 14px;
}
#member #member_main dl dd{
	padding: 10px 0;
	border-bottom: 1px dashed #999;
}
#member #member_main table{
	width: 90%;
	margin: 10px auto;
	text-align: center;
	background: #ccc;
	margin-bottom: 0px;
}
#member #member_main table th{
	height: 25px;
	line-height: 25px;
	background: #ccc;
}
#member #member_main table td{
	height: 50px;
	line-height: 30px;
	background: #fff;
}
#member #member_main table td a{
	text-decoration: none;
	color: #333;
}
#member #member_main table td a:hover{
	text-decoration: underline;
}